/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-color: #CFD8DC;
    background-repeat: no-repeat
}

.card {
    width: 600px;
    height: 350px;
	border-radius: 20px !important;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(238, 237, 237, 0.438);
    color: #FFFFFF;
	background: linear-gradient(to right, #ffffff 20%, rgba(241, 224, 190, 0.507));
}

.time-font {
    font-size: 50px;
}

.sm-font {
    font-size: 18px
}

.med-font {
    font-size: 28px
}

.large-font {
    font-size: 60px
}

h1.ml-auto.mr-4.med-font{
    margin: 10px 10px;
    padding: 10px;
}